<!DOCTYPE html>
<html>
	<title>Feedback Sys.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no”">
    <meta name="theme-color" content="#0072ff" />
    
	<link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="./cff/style.css">

	<body>
	<div class="xcontainer">	 
		<div class="row">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<form action="login" method="POST" style="margin:50px;">
				
					<h3 style="color:white;font-weight: bold;font-size: 2em;">Administration Auth Form</h3><br>
					<input type="text" placeholder="account-id" style="width: 70%;" name="account_id" required><br><br>

					<input type="password" style="width: 70%;" placeholder="password" name="password" required><br><br>

					<button class="btn btn-default" type="submit">Login</button>

				</form>
			</div>

			<div class="col-md-4"></div>
		</div>
	</div>
	</body>
</html>


